body {
    background-color: white;
}

img.profile {
    width: 64px;
    height: 64px;
    border: solid 2px grey;
    border-radius: 32px;
}

div.card {
    padding-top: 10px;
    padding-left: 10px;
    width: 360px;
    height: 120px;
    border: solid 1px grey;
    border-radius: 10px;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,128,253,0.7637648809523809) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,128,253,0.7637648809523809) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,128,253,0.7637648809523809) 100%);
    margin: 5px;
}

.close {
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    border-radius: 10px;
    border-color: white;
}