*{
    box-sizing:border-box;
}

body {
    --accent-color: #f87d09;
    --background-color: white;
    --text-color: #394452;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  
    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --accent-color: #D0D066;
    --background-color: #333;
    --text-color: white;
}

form{
    width:90vw;
    max-width:768px;
    border:1px solid #ddd;
    padding:1vw;
    display:flex;
    flex-direction:column;
    border-radius:5px;
}

label{
    margin-bottom:15px;
    position:relative;
    font-weight: 600;
    border-bottom:1px solid #ddd;
}

input{
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

input.dark {
    background: #394452;
    color: white;
}

input::placeholder{
    opacity:0;
}

span{
    position:absolute;
    top:0;
    left:0;
    font-size:0.825em;
    transition-duration:300ms;
    padding: 0rem 0.5rem 1rem 1rem;
}

button{
    padding:15px 0px; 
    margin-top:20px;
    background:#0044c5;
    color:#e8e6e3;
    border:1px solid #003caf;
    cursor:pointer;
    border-radius:3px;
    font-weight: 600;
    line-height: 1;
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    transform:translateY(0px);
}

.invalid {
    border: 1px solid #da1414;
}

.title {
    margin: 0;
    margin-bottom: .5rem;
    font-size: xx-large;
}

.theme-toggle-button, .premium-alert-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
}

.theme-toggle-button .icon, .premium-alert-button .icon {
    margin-right: .5em;
}

.theme-toggle-button:hover, .premium-alert-button:hover {
    transform: scale(1.1);
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.premium-alert {
    font-size: xx-large;
}

.alert.alert-warning {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.alert {
  background-color: #29d2e4;
  border: 1px solid #29d2e4;
  color: #fff;
  padding: 15px 20px;
}

.alert.alert-warning .alert-container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

.alert.alert-warning .alert-icon {
  float: left;
  margin-right: 15px;
}

.alert.alert-warning .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.alert .alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
}

.theme-toggle-container {
  padding: 2em;
}

